*~
*.json
elsevier_api.key
dois.txt
extraction/.ipynb_checkpoints
acquire_pdfs/.ipynb_checkpoints
.ipynb_checkpoints/
finetune/llama3.18B-finetunedlp/
finetune/wandb/
llama3.18B-finetunedlp/
finetune/*.yaml
extraction/*.json
processed_data/